<div id="<%= dom_id disciplina %>">
  <p>
    <strong>Nome:</strong>
    <%= disciplina.nome %>
  </p>

  <p>
    <strong>Ano letivo:</strong>
    <%= disciplina.ano_letivo %>
  </p>

  <p>
    <strong>Turma:</strong>
    <%= disciplina.turma.nome %>
  </p>

</div>
